# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related (optional)
# Uncomment if you don't want to include the VS Code settings in version control
# .vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
**/build/

# iOS related
ios/Pods/
ios/Flutter/
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Runner.xcodeproj/
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcodeproj/xcuserdata/
ios/Runner.xcodeproj/project.xcworkspace/
ios/Flutter/App.framework
ios/Flutter/engine/

# Android related
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties

# Windows related
windows/.dart_tool/
windows/flutter/
windows/CMakeFiles/
windows/runner/CMakeFiles/
windows/runner/FlutterCMakeRules/
windows/runner/generated_plugin_registrant.cc
windows/runner/flutter_window.cpp
windows/runner/main.cpp
windows/runner/Runner.rc
windows/runner/Runner.exe

# Linux related
linux/.dart_tool/
linux/flutter/
linux/CMakeFiles/
linux/runner/CMakeFiles/
linux/runner/generated_plugin_registrant.cc
linux/runner/flutter_window.cpp
linux/runner/main.cpp
linux/runner/Runner

# Web related
web/.dart_tool/
web/.flutter-plugins
web/.flutter-plugins-dependencies
web/.packages
web/build/

# Obfuscation related
app.*.map.json

# Symbolication related
app.*.symbols

# Firebase-related files
android/google-services.json
ios/Runner/GoogleService-Info.plist

# Generated plugin files
.flutter-plugins
.flutter-plugins-dependencies

# Build artifacts for all platforms
**/build/
